@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=DM+Sans:wght@300;400;500&display=swap");
@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #faf6ef;
}
::-webkit-scrollbar-thumb {
  background: #b8763a;
  border-radius: 2px;
}
